<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
        <a class="navbar-brand">
           MoreRuby 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="unidades"> <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <h4>
                        <% if (user) { %>
                            <span class="badge bg-success"><%= user.name %>  </span>
                            <% } %>

                    </h4>
                    <!-- este es el q sirve :V -->

                </li>
                <li class="nav-item">
                    <a type="button" class="nav-link active" aria-current="page" href="logout"> <i class="fas fa-sign-out-alt fa-1x"></i>Salir</a>
                </li>

            </ul>
        </div>
    </div>
</nav>