<span class="nav-bar" id="btnMenu"><i class="fas fa-bars"></i>Menu</span>
<nav class="main-nav">
    <ul class="menu" id="menu">
        <li class="menu__item"><a href="/configuracion" class="menu__link">Instalación</a></li>
        <li class="menu__item container-submenu">
            <a href="#" class="menu__link submenu-btn">Temas<i class="fas fa-chevron-down"></i></a>
            <ul class="submenu">
                <li class="menu__item">
                    <a href="/tema1" class="menu__link">Tema I</a>
                </li>
                <li class="menu__item">
                    <a href="/tema2" class="menu__link">Tema II</a>
                </li>
                <li class="menu__item">
                    <a href="/tema3" class="menu__link">Tema III</a>
                </li>
                <li class="menu__item">
                    <a href="/tema4" class="menu__link">Tema IV</a>
                </li>
            </ul>
        </li>
        <li class="menu__item"><a href="/ejemplos" class="menu__link">Ejemplos</a></li>
        <li class="menu__item"><a href="/infoempresa" class="menu__link">Sobre nosotros</a></li>
    </ul>
    <div style="text-align: center;">
        <h2>Aprendiendo Ruby</h2>
    </div>

</nav>