<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/lightbox.min.css">
    <link rel="stylesheet" href="/css/lol.css">
    <title>
        MoreRuby
    </title>
    <%- include ('partials/head')%>

</head>

<body>

<header>
    <%- include ('partials/navigation2')%>
    <%- include ('partials/navigation3')%>

</header>

<div class="gallery-container" >
    <div class="gallery-card" style="border: rgb(55, 38, 83) 5px solid;">
        <a href="img/ejemplo1.png" data-lightbox="roadtrip"><img style="width: 675px;" src="img/ejemplo1.png" alt="Imagen"></a>
    </div>
    <div class="gallery-card" style="border: rgb(55, 38, 83) 5px solid;">
        <a href="img/ejemplo2.png" data-lightbox="roadtrip"><img style="width: 692px;" src="img/ejemplo2.png" alt="Imagen"></a>
    </div>
    <div class="gallery-card" style="border: rgb(55, 38, 83) 5px solid;">
        <a href="img/ejemplo3.png" data-lightbox="roadtrip"><img style="width: 700px;" src="img/ejemplo3.png" alt="Imagen"></a>
    </div>
    <div class="gallery-card" style="border: rgb(55, 38, 83) 5px solid;">
        <a href="img/ejemplo4.png" data-lightbox="roadtrip"><img style="width: 635px;" src="img/ejemplo4.png" alt="Imagen"></a>
    </div>
    <div class="gallery-card" style="border: rgb(55, 38, 83) 5px solid;">
        <a href="img/ejemplo5.png" data-lightbox="roadtrip"><img style="width: 700px;" src="img/ejemplo5.png" alt="Imagen"></a>
    </div>
    <div class="gallery-card" style="border: rgb(55, 38, 83) 5px solid;">
        <a href="img/ejemplo6.png" data-lightbox="roadtrip"><img style="width: 700px;" src="img/ejemplo6.png" alt="Imagen"></a>
    </div>
  
</div>



<script src="/js/lightbox-plus-jquery.min.js"></script>
<script src="/js/lightbox.min.js"></script>


<footer>
    <%- include ('partials/footer')%>
</footer>
   
</body>

</html>