<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cards.css">
    <title>
        MoreRuby
    </title>
    <%- include ('partials/head')%>

</head>

<body>

    <header>
        <%- include ('partials/navigation2')%>
            <%- include ('partials/navigation3')%>

    </header>
    <article class="container-fluid  postcard dark blue">
        <div class="postcard__text">
            <h1 class="postcard__title blue"><a href="#">¿Quines somos?</a></h1>
            <div class="postcard__subtitle small">
            </div>
            <div class="postcard__bar"></div>
            <div class="postcard__preview-txt text-light">Somos un grupo de estudiantes de la universidad de El Salvador de la carrera de ingenieria en sistemas informaticos, de la materia Tecnicas de Programación en Internet &#40;TPI115&#41;.</div>
        </div>
    </article>
    <article class="container-fluid  postcard dark blue">
        <div class="postcard__text">
            <h1 class="postcard__title blue"><a href="#">Misión</a></h1>
            <div class="postcard__subtitle small">
            </div>
            <div class="postcard__bar"></div>
            <div class="postcard__preview-txt text-light">Institución en nuestro país eminentemente académica, rectora de la educación superior, formadora de profesionales con alores éticos firmes, garante del desarrollo, de la ciencia, el arte, la cultura y el deporte. Crítica de la realidad, con
                capacidad de proponer soluciones a los problemas nacionales a través de la investigación filosófica, científica artística y tecnológica; de carácter universal.</div>
        </div>
    </article>
    <article class="container-fluid  postcard dark blue">
        <div class="postcard__text">
            <h1 class="postcard__title blue"><a href="#">Visión</a></h1>
            <div class="postcard__subtitle small">
            </div>
            <div class="postcard__bar"></div>
            <div class="postcard__preview-txt text-light">Ser una universidad transformadora de la educación superior y desempeñar un papel protagónico relevante, en la transformación de la conciencia crítica y prepositiva de la sociedad salvadoreña, con liderazgo en la innovación educativa y excelencia
                académica, a través de la integración de las funciones básicas de la universidad: la docencia la investigación y la proyección social.</div>
        </div>
    </article>

    <footer>
        <%- include ('partials/footer')%>
    </footer>

</body>

</html>