<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cards.css">
    <title>
        MoreRuby
    </title>
    <%- include ('partials/head')%>

</head>

<body>

<header>
    <%- include ('partials/navigation2')%>
    <%- include ('partials/navigation3')%>

</header>
<div class="mar">
<article class="container-fluid  postcard dark blue text-center">
    <div class="postcard__text">
        <h1 class="postcard__title blue"><a href="#">Tema: Creación y ejecución de un proyecto</a></h1>
       </div>
</article>
<article class="container-fluid  postcard dark blue">
  
    <div class="postcard__text">
        <h1 class="postcard__title blue text-center"><a href="#">Creación de un proyecto</a></h1>
        <div class="postcard__subtitle small">
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-light">~Primero debemos escoger el editor de texto que vamos a utilizar, este puede ser Visual Studio Code, Sublime text, block de nota, etc. lo importantes es que este archivo lo guardemos con la extención .rb  </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h5><strong>Ejemplo (Utilizando Visual Studio Code)</strong>  </h5>
                <br>
            </div>
        </div>
            <div class="row ">
               
            <div class="col-sm-3">
                
                <div class="text-light text-justify">1) Abrimos code y presionamos New File </div>
                <img class="img-fluid" src="img/creacion1.png"  alt="Imagen">
            </div>
           
            <div class="col-sm-3">
                
                <div class="text-light text-justify">2) Seleccionamos "Save As" </div>
                <img class="img-fluid" src="img/create2.png" alt="Imagen">
            </div>
           
            <div class="col-sm-3"  >
                
                <div class="text-light text-justify" >3) Asignamos un nombre y colocamos la extención .rb seleccionamos la localizacion y presionamos guardar. </div>
                <img class="img-fluid" src="img/create3.png"  alt="Imagen">
            </div>
            <div class="col-sm-3"  >
                
                <div class="text-light text-justify" >4) Code reconocera la extencion y ahora podremos comenzar a digitar nuestro codigo. </div>
                <img class="img-fluid" src="img/create5.png"  alt="Imagen">
            </div>
          
        </div>
    
    </div>


</article>

<article class="container-fluid  postcard dark blue">
  
    <div class="postcard__text">
        <h1 class="postcard__title blue text-center"><a href="#">Ejecución de un proyecto</a></h1>
        <div class="postcard__subtitle small">
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-light">~Primero debemos abrir la terminal, en ella nos vamos a localizar en la carpeta donde este ubicado nuestro proyecto y procedemos a ejecutarlo para ello debemos digitar: ruby nombre.rb donde nombre es el nombre de nuestro programa.  </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h5><strong>Ejemplo (Utilizando Visual Studio Code)</strong>  </h5>
                <br>
            </div>
        </div>
            <div class="row ">
               
            <div class="col-sm-4">
                
                <div class="text-light text-justify">1) Abrimos la terminal desde Code </div>
                <img class="img-fluid" src="img/ejecuta1.png"  alt="Imagen">
            </div>
           
            <div class="col-sm-4">
                
                <div class="text-light text-justify">2) Nos dirigimos a la carpeta donde se encuentra nuestro proyecto </div>
                <img class="img-fluid" src="img/ejecuta2.png" alt="Imagen">
            </div>
           
            <div class="col-sm-4"  >
                
                <div class="text-light text-justify" >3) Digitamos ruby seguido del nombre de nuestro programa junto con la extención .js y presionamos enter. </div>
                <img class="img-fluid" src="img/ejecuta3.png"  alt="Imagen">
            </div>
          
          
        </div>
    
    </div>

</article>
<article class="container-fluid  postcard dark blue text-center">
    <div class="postcard__text">
        <h1 class="postcard__title blue"><a href="#">Vídeos</a></h1>
    </div>
       
</article>
<div class="col-sm-6">
    <iframe class="container-fluid" width="560" height="315" src="https://www.youtube.com/embed/XK3dlWHBt64?start=261" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   

   
</div>
</div>


<footer>
    <%- include ('partials/footer')%>
</footer>
   
</body>

</html>