<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cards.css">
    <title>
        MoreRuby
    </title>
    <%- include ('partials/head')%>

</head>

<body>

<header>
    <%- include ('partials/navigation2')%>
    <%- include ('partials/navigation3')%>

</header>
<article class="container-fluid  postcard dark blue text-center">
    <div class="postcard__text">
        <h1 class="postcard__title blue"><a href="#"> Estructuras iterativas y selectivas</a></h1>
       </div>
</article>
<article class="container-fluid  postcard dark blue">
  
    <div class="postcard__text">
        <h1 class="postcard__title blue text-center"><a href="#">Selectivas</a></h1>
        <div class="postcard__subtitle small">
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-light"> <strong > <h4>. Concepto</h4> </strong> 
            <p>se utiliza para evaluar una expresión condicional: si se cumple la condición (es verdadera), ejecutará un bloque de código. Si es falsa, es posible ejecutar otras sentencias.</p> 
        <strong > <h4>. Descripción</h4> </strong>
        <br>
        <div class="row">
            <div class="col-sm-12 ">
                <p> Se utiliza con la palabra reservada if, else, elsif y end. Para iniciar la estructura se coloca el if seguido de la condición que se evaluará, si solo pondremos una linea de codigo no es necesario colocar end al final del codigo que comprenderá la estructura, el else se utiliza para colocar el codigo que se ejecura si la condición da como resultado false.</p> </div>
                <h5><strong>Ejemplo</strong>  </h5>
                <br>
            </div>
        </div>
            <div class="row text-center">
               
            <div class="col-sm-6 ">
                
                <div class="text-light ">Código</div>
                <img class="img-fluid " src="img/selectivas1.png"  alt="Imagen">
            </div>
           
            <div class="col-sm-6">
                
                <div class="text-light text-justify">Resultado </div>
                <img class="img-fluid" src="img/selectivas2.png" alt="Imagen">
            </div>
           
           
          
        </div>
    
    </div>


</article>

<article class="container-fluid  postcard dark blue">
  
    <div class="postcard__text">
        <h1 class="postcard__title blue text-center"><a href="#">Iterativas</a></h1>
        <div class="postcard__subtitle small">
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-light"> <strong > <h4>. Concepto</h4> </strong> 
            <p>es cualquier construcción de programa que repite una sentencia o secuencia de sentencias un número de veces. La sentencia o grupo de sentencias que se repite en un bloque se denomina cuerpo del ciclo y cada repetición del cuerpo del ciclo se llama iteración del ciclo. Un ciclo while tiene una condición del ciclo, una expresión lógica que controla la secuencia de repetición. La posición de esta condición del ciclo es delante del cuerpo del ciclo y significa que un ciclo while es un ciclo de preverificación de modo que cuando se ejecuta el mismo, se evalúa la condición antes de que se ejecute el cuerpo del ciclo.</p> 
            
        <strong > <h4>. Descripción</h4> </strong>
        <p> La estructura basica es while, expresion y end. While va precedido de una expresion la cual se evaluara por cada iteración y si el resultado da verdadero vuelve a ejecutar el codigo que contiene la estructura hasta donde aparece la instrucción end. </p> </div>
   <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h5><strong>Ejemplo</strong>  </h5>
                <br>
            </div>
        </div>
            <div class="row text-center">
               
            <div class="col-sm-6 ">
                
                <div class="text-light ">Código</div>
                <img class="img-fluid " src="img/iterativa1.png"  alt="Imagen">
            </div>
           
            <div class="col-sm-6">
                
                <div class="text-light text-justify">Resultado </div>
                <img class="img-fluid" src="img/iterativa2.png" alt="Imagen">
            </div>
           
           
          
        </div>
    
    </div>


</article>


<article class="container-fluid  postcard dark blue text-center">
    <div class="postcard__text">
        <h1 class="postcard__title blue"><a href="#">Vídeos</a></h1>
       
    </div>
       
</article>
<div class="container-fluid  text-center">
    <div class="row text-center">
               
        <div class="col-sm-6 ">
            
            <div class="text-light ">SELECTIVAS</div>
            <iframe class="container-fluid" width="560" height="315" src="https://www.youtube.com/embed/1a9cDRLOvlY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
        </div>
       
        <div class="col-sm-6">
            <div class="text-light ">ITERATIVAS</div>
            <iframe class="container-fluid" width="560" height="315" src="https://www.youtube.com/embed/VYCCdaVwtmk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
        </div>
       
     
     
    </div>
</div>
<br>
<br>
<article class="container-fluid  postcard dark blue text-center">
   
    <div class="postcard__text">
        <h5><strong>
       <a class="text-decoration-none" href="https://www.youtube.com/channel/UCLXRGxAzeaLDGaOphqapzmg">Creador: Codigofacilito</a>
    </strong>  </h5>
    </div>
    <div class="postcard__text">
        <h5><strong>
        <a class="text-decoration-none" href="https://www.youtube.com/watch?v=fvrphRoN7P0&list=PL954bYq0HsCUG5_LbfZ54YltPinPSPOks&index=1">Lista completa de reproducción</a>
    </strong>  </h5>
    </div>
       
       
</article>



<footer>
    <%- include ('partials/footer')%>
</footer>
   
</body>

</html>