<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cards.css">
    <title>
        MoreRuby
    </title>
    <%- include ('partials/head')%>

</head>

<body>

<header>
    <%- include ('partials/navigation2')%>
    <%- include ('partials/navigation3')%>

</header>
<article class="container-fluid  postcard dark blue text-center">
    <div class="postcard__text">
        <h1 class="postcard__title blue"><a href="#"> Métodos y clases</a></h1>
       </div>
</article>
<article class="container-fluid  postcard dark blue">
  
    <div class="postcard__text">
        <h1 class="postcard__title blue text-center"><a href="#">Métodos</a></h1>
        <div class="postcard__subtitle small">
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-light"> <strong > <h4>. Concepto</h4> </strong> 
            <p>Es una subrutina que consiste generalmente de una serie de sentencias para llevar a cabo una acción, un juego de parámetros de entrada que regularán dicha acción o, posiblemente, un valor de salida (o valor de retorno) de algún tipo.</p> 
        <strong > <h4>. Descripción</h4> </strong>
        <br>
        <div class="row">
            <div class="col-sm-12 ">
                <p> Para definir un método se inicia con la palabra reservada def seguido del nombre del metodo (si el metodo requiere parametros estos se definen despues del nombre y entre parentesis) al final del codigo del metodo se coloca end que denota el final de este, para llamar un metodo se puede hacer solo escribiendo su nombre.</p> </div>
                <h5><strong>Ejemplo</strong>  </h5>
                <br>
            </div>
        </div>
            <div class="row text-center">
               
            <div class="col-sm-6 ">
                
                <div class="text-light ">Código</div>
                <img class="img-fluid " src="img/metodo1.png"  alt="Imagen">
            </div>
           
            <div class="col-sm-6">
                
                <div class="text-light text-justify">Resultado </div>
                <img class="img-fluid" src="img/metodo2.png" alt="Imagen">
            </div>
           
           
          
        </div>
    
    </div>


</article>

<article class="container-fluid  postcard dark blue">
  
    <div class="postcard__text">
        <h1 class="postcard__title blue text-center"><a href="#">Clases</a></h1>
        <div class="postcard__subtitle small">
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-light"> <strong > <h4>. Concepto</h4> </strong> 
            <p> es una agrupación de datos (variables o campos) y de funciones (métodos) que operan sobre esos datos. A estos datos y funciones pertenecientes a una clase se les denominan variables y métodos o funciones miembro. La Programación Orientada a Objetos se basa en la programación de clases.</p> 
            
        <strong > <h4>. Descripción</h4> </strong>
        <p> Las clases se inician con la palabra reservada class  seguida de un nombre el cual debe iniciar con mayusculas, luego se colocan las varibles y métodos de la clase y se finaliza con la instrucción con end. Una vez creada la clase se pueden empezar a definir objetos a partir de ella. </p> </div>
   <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h5><strong>Ejemplo</strong>  </h5>
                <br>
            </div>
        </div>
            <div class="row text-center">
               
            <div class="col-sm-6 ">
                
                <div class="text-light ">Código</div>
                <img class="img-fluid " src="img/clase1.png"  alt="Imagen">
            </div>
           
            <div class="col-sm-6">
                
                <div class="text-light text-justify">Resultado </div>
                <img class="img-fluid" src="img/clase2.png" alt="Imagen">
            </div>
           
           
          
        </div>
    
    </div>


</article>


<article class="container-fluid  postcard dark blue text-center">
    <div class="postcard__text">
        <h1 class="postcard__title blue"><a href="#">Vídeos</a></h1>
       
    </div>
       
</article>
<div class="container-fluid  text-center">
    <div class="row text-center">
               
        <div class="col-sm-6 ">
            
            <div class="text-light ">METODOS</div>
            <iframe class="container-fluid" width="560" height="315" src="https://www.youtube.com/embed/Iw8PvVYrUEM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
        </div>
       
        <div class="col-sm-6">
            <div class="text-light ">CLASES</div>
            <iframe class="container-fluid" width="560" height="315" src="https://www.youtube.com/embed/xrySyRjAtz8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
        </div>
       
     
     
    </div>
</div>
<br>
<br>
<article class="container-fluid  postcard dark blue text-center">
   
    <div class="postcard__text">
        <h5><strong>
       <a class="text-decoration-none" href="https://www.youtube.com/channel/UCLXRGxAzeaLDGaOphqapzmg">Creador: Codigofacilito</a>
    </strong>  </h5>
    </div>
    <div class="postcard__text">
        <h5><strong>
        <a class="text-decoration-none" href="https://www.youtube.com/watch?v=fvrphRoN7P0&list=PL954bYq0HsCUG5_LbfZ54YltPinPSPOks&index=1">Lista completa de reproducción</a>
    </strong>  </h5>
    </div>
       
</article>



<footer>
    <%- include ('partials/footer')%>
</footer>
   
</body>

</html>