<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/slider.css">
    <title>
        MoreRuby
    </title>
    <%- include ('partials/head')%>

</head>

<body>
    <%- include ('partials/navigation2')%>
        <span class="nav-bar" id="btnMenu"><i class="fas fa-bars"></i>Menu</span>
        <nav class="main-nav">
            <ul class="menu" id="menu">
                <li class="menu__item"><a href="" class="menu__link">Introduccion</a></li>
                <li class="menu__item container-submenu">
                    <a href="#" class="menu__link submenu-btn">Temas<i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li class="menu__item">
                            <a href="" class="menu__link">Unidad I</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Unidad II</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Unidad III</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link">Unidad IV</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__item"><a href="" class="menu__link">Ejemplos</a></li>
                <li class="menu__item"><a href="/infoempresa" class="menu__link">Sobre nosotros</a></li>
            </ul>
            <div style="text-align: center;">
                <h2>Aprendiendo Ruby</h2>
            </div>

        </nav>
<div class="container-fluid-sm">


        <div class="slider">
            <ul>
                <li>
                    <img src="https://i.pinimg.com/originals/74/52/db/7452db2aafa89196801ef4fe680137e0.jpg">
                </li>
                <li>
                    <img src="https://s1.1zoom.me/big0/160/354276-admin.jpg">
                </li>
                <li>
                    <img src="https://mobimg.b-cdn.net/pic/v2/gallery/preview/goroda-pejzazh-ulicy-22228.jpg">
                </li>
                <li>
                    <img src="http://2.bp.blogspot.com/-dNtt1v-HAOE/UFdRpT_pY9I/AAAAAAAABXw/gBzxja1td3Y/s1600/fondos-escritorio-ciudades-1280.jpg">
                </li>
            </ul>
        </div>
    </div>
    
        <footer>
            <%- include ('partials/footer')%>
        </footer>
        <script src="/js/menu.js"></script>
        
</body>

</html>