* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    width: 200%;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
    /* box-shadow: 0 0 0 10px #fff, 0 15px 50px; */
    position: relative;
    top: -10px;
}

.slider ul {
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}

.slider li {
    width: 50%;
    list-style: none;
}

.slider img {
    display: block;
    width: 450px;
    height: 300px;
    object-fit: cover;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .slider,
    .slider ul,
    .slider img {
        height: 100vh;
    }
}